body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  div.navigation{
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-bottom-style: solid;
    opacity: 0.8;
    width: inherit;
    height: 50px;
    background-color: black;
    text-align: center;
    position: sticky;
    padding: 15px;
}
  
  a.profile {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
  a.profile:hover {
    background-color: #ddd;
    color: black;
  }

  a.title{
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }

  .collapsible{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover{
    background-color: #ccc;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  img.recipe_image{
    height : 300px;
    width: 300px;
    margin: 10px;
  }

  div.dropdown{
    float: right;
    overflow: hidden;
  }

  .dropdown {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin: 0px; 
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }

  .dropdown:hover .dropdown_a{
    background-color: #ddd;
    color: black;
  }

  .dropdown_content{
    display: none;
    position: absolute;
    background-color: black;
    width: 160px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown_content a:hover{
    background-color: #ddd;
    color: black;
  }

  .dropdown:hover .dropdown_content{
    display: block;
  }

  div.error p{
    font-size: 15px;
    color: red;
    margin: 5px;
  }

  div.error{
    height: 15px;
  }

  textarea{
    white-space: pre-wrap;
  }

  input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }